<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>My World</title>
</head>
<body>
   <h1>About Me</h1>
   <h2>Introduction</h2>
   <p>Hello World! My name is Celine Macairan and this is my Module 05 HTML page.
       This is all very new to me, so I hope everything looks okay.</p>

<!-- ATM stands for "at the moment"-->

   <h2>My Situation ATM</h2>
   <p>I'm currently an Information Systems Senior at UMD, and I'm excited to graduate in a few months.
       Although I'm still looking for something to do after that, I'm trying to keep my hopes <em>high</em>!
       I think my biggest motivation is the fact that I don't want to move back with my parents.
       That sounds bad, but Poolesville is just so <strong>far</strong> from everything.</p>

   <p>I don't want to just talk about university, so here's a new paragraph. I'm currently <strong>serving</strong>
       at a restaurant in Riverdale Park plaza called Burton's. It's pretty fun so far, I've only been there for about
       2 or so months now. I've been making pretty good money, but don't get me wrong, I'm still very <em>broke</em>.</p>

   <h2>My Favorite Pastimes:</h2>
   <ul>
       <li>Sleeping</li>
       <li>Cooking</li>
       <li>Watching movies/TV shows</li>
       <li>Crocheting</li>
   </ul>

   <h2>My Top Shows Currently:</h2>
   <ol>
       <li>Succession</li>
       <li>Love Island UK</li>
       <li>The Bear</li>
       <li>Reacher</li>
   </ol>

   <!--This is a table to display my courses, I would like to make the table lined up if possible-->

   <h2>Some Random Recent Courses I've Taken:</h2>
   <table>
 <thead>
           <tr>
               <th>Course</th>
               <th>Semester</th>
           </tr>
       </thead>
   <tbody>
       <tr>
           <td>Project Management</td>
           <td>Spring 2024</td>
       </tr>
       <tr>
           <td>Business Law</td>
           <td>Fall 2023</td>
       </tr>
       <tr>
           <td>Analytics Programming</td>
           <td>Spring 2023</td>
       </tr>
   </tbody>
   </table>

   <!--First 2 links will open on the same tab, 3rd link opens in a new tab-->

   <h2>Some Quick Plugs:</h2>
   <p>Check out my <a href="/hello">hello page</a>.</p>
   <p>Connect to my <a href="https://www.linkedin.com/in/celinemacairan" target="_blank">LinkedIn</a> and add me on
       <a href="https://github.com/celineannem" target="_blank"> GitHub</a>!</p>
   <p>Start watching my favorite show at the moment, <a href="https://www.amazon.com/dp/B0BYTDXPZF">Succession</a>.</p>

   <h2>This is where I spend most of my time during the week!</h2>
   <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith Logo"
        width= "280" height="80">
</body>
</html>

