{% extends "base.html" %}

{% block page_title %}Contact{% endblock %}

{% block page_head %}Contact{% endblock %}

{% block page_content %}
    {% if form_submitted %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Thank you for contacting us!</h4>
            <p>First Name: {{ request.form.get('first_name') }}</p>
            <p>Last Name: {{ request.form.get('last_name') }}</p>
            <p>Email: {{ request.form.get('email') }}</p>
            <p>Major: {{ request.form.get('major') }}</p>
            <hr>
            <p class="mb-0"><a href="{{ url_for('contact') }}">Complete the form again</a></p>
        </div>
    {% else %}
        <p> </p>
        <form method="POST" action="{{ url_for('contact') }}" class="row g-3">
            <div class="mb-3 row form">
                <label for="first_name" class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="first_name" name="first_name" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="last_name" class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="last_name" name="last_name" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="major" class="col-sm-3 col-form-label">Major</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="major" name="major" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
